<!-- /sections/constructor.liquid -->

{{ 'constructor.css' | asset_url | stylesheet_tag }}

<section class="constructor" id="constructor">

  <div class="constructor-wrapper js-constructor-step" id="step-0">
    <div class="constructor-col">
      <div class="constructor-result">
        <img src="{{ 'chain.png' | asset_url }}" alt="" class="constructor-result-chain-example">
        <div class="constructor-result-charm-example">
          <img src="{{ 'charm.png' | asset_url }}" alt="" class="constructor-result-charm">
        </div>
      </div>
    </div>
    <div class="constructor-col constructor-start">
      <div class="constructor-start-subtitle">Chain & charms</div>
      <div class="constructor-start-title">Customize your jewel</div>
      <button class="constructor-start-button" id="start-button">Start</button>
    </div>
  </div>

  <div class="constructor-wrapper js-constructor-step constructor-step-1" id="step-1">
    <div class="constructor-col">
      <div class="constructor-result">
        <div class="constructor-result-title">Your creation</div>
        {%  for product in section.settings.chains %}
          <img
                  src="{{ product.metafields.custom.constructor_chain_picture | img_url: '2716x3784' }} }}"
                  alt=""
                  class="constructor-result-chain{% unless forloop.first %} constructor-result-chain_hidden{% endunless %}"
                  data-count="{{ forloop.index }}"
          >
        {% endfor %}
      </div>
    </div>
    <div class="constructor-col constructor-choice">
      <div class="constructor-choice-container">
        <div class="constructor-choice-header">
          <div class="constructor-choice-header-step">step 1 / 2</div>
          <div class="constructor-choice-header-title">Choose your Chain</div>
        </div>
        <div class="constructor-choice-layout">
          {%  for product in section.settings.chains %}
            <div
                    class="constructor-choice-item js-chain-item {% if forloop.first %}constructor-choice-item_active{% endif %}"
                    data-price="{{ product.price | money_without_currency }}"
                    data-count="{{ forloop.index }}"
            >
              <div class="constructor-choice-item-pic-wrapper {% if product.metafields.custom.constructor_chain_alt_picture %}constructor-choice-item-alt-pic{% endif %}">
                {% if  product.options.size %}
                  {% comment %}<div class="constructor-choice-item-size"></div>{% endcomment %}
                {% endif %}
                <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}" class="constructor-choice-item-pic1">
                {% if product.metafields.custom.constructor_chain_alt_picture %}
                  <img src="{{ product.metafields.custom.constructor_chain_alt_picture | img_url: 'medium' }}" alt="{{ product.title }}" class="constructor-choice-item-pic2">
                  <div class="constructor-choice-item-dots">
                    <div class="constructor-choice-item-dots-dot constructor-choice-item-dots-dot_active"></div>
                    <div class="constructor-choice-item-dots-dot"></div>
                  </div>
                {% endif %}
              </div>
              <div class="constructor-choice-item-title">{{ product.title }}</div>
              <div class="constructor-choice-item-price">{{ product.price | money }}</div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="constructor-choice-controls">
        <div class="constructor-choice-controls-text">Selected Chain:</div>
        <div class="constructor-choice-controls-price">{{ cart.currency.symbol }} <span id="constructor-choice-controls-price"></span></div>
        <button class="constructor-choice-controls-button" id="step-1-next-btn">next: Select your charms</button>
      </div>
    </div>
  </div>

  <div class="constructor-wrapper js-constructor-step constructor-step-2" id="step-2">
    <div class="constructor-col">
      <div class="constructor-result">
        <div class="constructor-result-title">Your creation</div>
        <div class="constructor-result-header-mobile">
          <div class="constructor-choice-header-step"><span  class="constructor-choice-header-step-back js-step-2-back-btn">back</span> &#8226; step 2 / 2</div>
          <div class="constructor-choice-header-title">Select up to 3 charms</div>
        </div>
        {%  for product in section.settings.chains %}
          <img
                  src="{{ product.metafields.custom.constructor_chain_picture | img_url: '2716x3784' }} }}"
                  alt=""
                  class="constructor-result-chain{% unless forloop.first %} constructor-result-chain_hidden{% endunless %}"
                  data-count="{{ forloop.index }}"
          >
        {% endfor %}
        <div class="constructor-result-charms">
        </div>
        <div class="constructor-result-charms-templates" id="charms-templates">
          {%  for product in section.settings.charms %}
            <img
                    src="{{ product.metafields.custom.constructor_charm_picture | img_url: '680x680' }}"
                    alt=""
                    class="constructor-result-charm"
                    data-count="{{ forloop.index }}"
                    data-variant-id="{{ product.first_available_variant.id }}"
            >
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="constructor-col constructor-choice">
      <div class="constructor-choice-container">
        <div class="constructor-choice-header">
          <div class="constructor-choice-header-step"><span class="constructor-choice-header-step-back js-step-2-back-btn">back</span>  &#8226; step 2 / 2</div>
          <div class="constructor-choice-header-title">Select up to 3 charms</div>
        </div>
        <div class="constructor-choice-layout">
          {%  for product in section.settings.charms %}
            <div
                    class="constructor-choice-item js-charms-item"
                    data-price="{{ product.price | money_without_currency }}"
                    data-count="{{ forloop.index }}"
            >
              <div class="constructor-choice-item-pic-wrapper">
                {% comment %}<div class="constructor-choice-item-size">60 CM</div>{% endcomment %}
                <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}">
              </div>
              <div class="constructor-choice-item-title">{{ product.title }}</div>
              <div class="constructor-choice-item-price">{{ product.price | money }}</div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="constructor-choice-controls">
        <div class="constructor-choice-controls-text">Total:</div>
        <div class="constructor-choice-controls-price">{{ cart.currency.symbol }} <span id="constructor-choice-controls-total-price"></span></div>
        <button id="step-2-next-btn" class="constructor-choice-controls-button" disabled>add to cart</button>
      </div>
    </div>
  </div>

  <div class="constructor-wrapper js-constructor-step constructor-final constructor-step-3" id="step-3">
    <div class="constructor-result constructor-result-final">
      {%  for product in section.settings.chains %}
        <img
                src="{{ product.metafields.custom.constructor_chain_picture | img_url: '2716x3784' }} }}"
                alt=""
                class="constructor-result-chain{% unless forloop.first %} constructor-result-chain_hidden{% endunless %}"
                data-count="{{ forloop.index }}"
                data-variant-id="{{ product.first_available_variant.id }}"
        >
      {% endfor %}
      <div class="constructor-result-charms">
      </div>
    </div>
    <div class="constructor-final-header">
      <div class="constructor-final-header-title">Your creation added to cart</div>
      <a href="/cart" class="constructor-final-header-checkout" id="go-to-checkout">go to checkout</a>
    </div>
  </div>
</section>


{% schema %}
{
  "name": "Constructor",
  "class": "constructor-section",
  "settings": [
    {
      "type": "product_list",
      "id": "chains",
      "label": "Chains"
    },
    {
      "type": "product_list",
      "id": "charms",
      "label": "Charms"
    }
  ],
  "presets": [
    {
      "name": "Constructor"
    }
  ]
}
{% endschema %}
